@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body{
  margin:0;
  padding:0;
  color: #242424;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 900;
  color: #000;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

main{
  display: block;
  background-color: #FFF;
}

.container{
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 24px;
}

section.module p{
  margin-bottom: 40px;
}

/* Section module last child é pra colocar margem de 40 pixels em todos, menos no último*/

section.module:last-child{
  margin-bottom: 0;
}

section.module h2{
  font-family: 'Sarala', sans-serif;
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content{
 padding: 40px 0;
 background: #dad6c4; 
}

section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat; /*não quero que ela se espelhe*/
  background-attachment: fixed; /*quero ela fixa (o que cria o efeito parallax)*/
  background-size: cover;  /* preencher tudo*/
  -webkit-background-size: cover; /*funcionar em todos os sites*/
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax:after{
  content: "";  /* não quero colocar conteúdo escrito*/
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}


section.module.parallax-1{
  background-image: url("/images/novo.png"); /*pode ser url do pc ou site*/
}

section.module.parallax-2{
  background-image: url("imagens/kim.png");
}

section.module.parallax-3{
  background-image: url("imagens/mugen.jpg");
}

section.module.parallax h1{
  font-family: 'Righteous', cursive;
  color: #FFF;
  text-align: center;
  font-size: 78px;
  z-index: 50;
  text-transform: uppercase;
}

@media all and (max-width: 820px) {
  section.module h2 {
    font-size: 32px;
  }
  .module h2, p{
    padding: 0 8px;
  }

  .container{
    margin:0;
    padding:0;
  }

  section.module.parallax h1 {
    font-size: 36px;
  }
}